<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/e41faadd8e.js" crossorigin="anonymous"></script>
    <title>Kitchening</title>
    <link rel="stylesheet" href="/css/estilos.css">
</head>
<body class="home">
    <header>
        <div class="logo"> 
            <img src="/images/logo - copia.jpg" alt="">
        </div>
        <button><i class="fa-solid fa-bars"></i></button>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Quienes Somos</a></li>
            <li><a href="#">Servicios</a></li>
            <li><a href="#">Sucursales</a></li>
            <li><a href="#">Contacto</a></li>
            <li><a href="#">Portafolio</a></li>
        </ul>
    </header>
    <main>
        <article>
            <div>
                <img src="/images/img-pdto-1 - copia.jpg" alt="">
            </div>
            <h3>Lorem ipsum dolor sit amet</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex velit qui quibusdam recusandae tempore, amet numquam voluptatibus, sapiente minus, ratione nobis </p>
        </article>
        <button>Ver Mas</button>

        <div>
            <img src="images/img-pdto-2 - copia.jpg" alt="">
        </div>
        <h3>Lorem ipsum dolor sit amet</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex velit qui quibusdam recusandae tempore, amet numquam voluptatibus, sapiente minus, ratione nobis </p>
    </article>
    <button>Ver Mas</button>

    <div>
        <img src="/images/img-pdto-3 - copia.jpg" alt="">
    </div>
    <h3>Lorem ipsum dolor sit amet</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex velit qui quibusdam recusandae tempore, amet numquam voluptatibus, sapiente minus, ratione nobis </p>
</article>
<button>Ver Mas</button>
    </main>
    <footer>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Quienes Somos</a></li>
            <li><a href="#">Servicios</a></li>
            <li><a href="#">Sucursales</a></li>
            <li><a href="#">Contacto</a></li>
            <li><a href="#">Portafolio</a></li>
        </ul>
    </footer>
</body>
</html>