<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/e41faadd8e.js" crossorigin="anonymous"></script>
    <title>Kitchening</title>
    <link rel="stylesheet" href="/css/estilos.css">
</head>
<body class="home">
    <header>
        <div class="logo"> 
            <img src="/images/logo - copia.jpg" alt="logo">
        </div>
        <button><i class="fa-solid fa-bars"></i></button>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Quienes Somos</a></li>
            <li><a href="#">Servicios</a></li>
            <li><a href="#">Sucursales</a></li>
            <li><a href="#">Contacto</a></li>
            <li><a href="#">Portafolio</a></li>
        </ul>
    </header>
    <main>
        <div class="banner">
            <img src="/images/img-banner - copia.jpg" alt="">
        </div>
        <section>
        <article>
            <div>
                <img src="/images/img-pdto-1 - copia.jpg" alt="pruducto1" class="producto">
                <img src="/images/img-nuevo - copia.png" alt="" class="etiqueta">
                <a href=""  class="ampliar">Ampliar foto</a>
            </div>
            <h3>Lorem ipsum dolor sit amet</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex velit qui quibusdam recusandae tempore, amet numquam voluptatibus, sapiente minus, ratione nobis </p>
        <a href=""> Ver Mas</a>
    </article>
        
<article>
        <div>
            <img src="images/img-pdto-2 - copia.jpg" alt="producto2" class="producto">
            <img src="/images/img-descuento - copia.png" alt="" class="etiqueta">
                <a href="" class="ampliar">Ampliar foto</a>
        </div>
        <h3>Lorem ipsum dolor sit amet</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex velit qui quibusdam recusandae tempore, amet numquam voluptatibus, sapiente minus, ratione nobis </p>
        <a href=""> Ver Mas</a>
    </article>
    
<article>
    <div>
        <img src="/images/img-pdto-3 - copia.jpg" alt="" class="producto" >
        <img src="/images/img-gratis - copia.png" alt="" class="etiqueta">
                <a href="" class="ampliar">Ampliar foto</a>
    </div>
    <h3>Lorem ipsum dolor sit amet</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex velit qui quibusdam recusandae tempore, amet numquam voluptatibus, sapiente minus, ratione nobis </p>
    <a href=""> Ver Mas</a>
</article>
</section>
    </main>

    <footer>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Quienes Somos</a></li>
            <li><a href="#">Servicios</a></li>
            <li><a href="#">Sucursales</a></li>
            <li><a href="#">Contacto</a></li>
            <li><a href="#">Portafolio</a></li>
        </ul>
    
    </footer>
</body>
</html>